.friendImg {
  max-width: 100px;
  border-radius: 5px;
  margin: 3px;
  border-style: double;
}
/* .minifiedFriend {
  max-width: 20px;
  border-radius: 5px;
  margin: 3px;
  border-style: double;
} */

.minifiedFriend {
  max-width: 20px;
}

.frName {
  color: white;
}

/* @media (max-width: 80px) {
  .friendImg {
    max-width: 30px;
  }
  .frName {

  }
} */
